footer {
    background-color: #002169;

    .footerColor {
        color: #D0DAEF;
    }

    ul li a {
        line-height: 35px;
    }

    .icons{
        color: white;
        width: 25px;
        height: 25px;
    }
    .empty {
        width: 30px;
        height: 5px;
        background-color: #894B8D;
        border-radius: 5px;
    }
    .rights {
        color: #808EAC;
    }
   
}