.header-top {
    background-color: #002169;
}
.nav-link {
    color: #002169;
    font-weight: 600;
    :hover {
        color:#894B8D !important;
    }
}
.appointment {
    padding: 13px 30px;
    border-radius: 25px;
    font-weight: 500;
    background: linear-gradient(to right, #813A7F, #9D57A2);
    color: white;
}

  

.nav-link:focus, .nav-link:hover {
    color: #894B8D;
}
.btn:hover {
    color: white;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 !important; 
}

@media (max-width: 995px) {
    .header-version-one, .header-top, .offcanvas {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .header-version-two {
        display: none !important;
    }
}