* {
    font-family: "Montserrat", serif;
}

.home-section-one {
    background-image: url("../img/sectionOneBackground.svg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .titleImg {
        margin-top: -50px;
    }

    .read-more {
        background-color: #894B8D;
        color: white;
        font-weight: 500;
        padding: 13px 25px;
        border-radius: 30px;
    }
}

.titleColor {
    color: #002168;
}

.home-section-two {
    background-image: url("../img/sectionTwoBackground.svg");
    background-position: center;
    background-size: cover;
    .experience {
        position: relative;
        background-color: #894B8D;
        padding: 17px;
        border-radius: 35px;
    }

    .vertical-one {
        border-left: 5px solid #894B8D;
        border-radius: 5px;
        height: 100px;
    }

    .vertical-two {
        border-left: 5px solid #C2C2C2;
        border-radius: 5px;
        height: 40px;
    }


}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #002168;
    padding: 30px;
    position: relative;
    display: flex;
}

.marquee-text {
    display: flex;
    gap: 50px; // Space between duplicate texts
    width: max-content;
    animation: marquee 60s linear infinite;
    color: #ffff;
    font-size: large;
    font-weight: 500;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.home-section-three {
    background-image: url("../img/sectionThreeBackground.svg");
    background-position: center;
    background-size: cover;
    height: 100%;
    .title {
        p {
            color: #894B8D;
            font-weight: 600;
        }

        h2 {
            color: #002168;
            font-weight: 700;
        }
    }

    .all-services {
        border: 1px solid #894B8D;
        border-radius: 30px;
        padding: 15px 30px;
        color: #435273;
        font-weight: 500;
        transition: 0.7s;
        &:hover {
            background-color: #894B8D;
            color: white;
        }
    }

    .card { 

        border-radius: 30px;
        .card-title {
            font-weight: 700;
            color: #002168;
        }
        
        .details {
            border: 1px solid #894B8D;
            border-radius: 25px;
            padding: 10px 20px;
            color: #435273;
            font-weight: 600;
            transition: 0.5s;

            &:hover {
                background-color: #894B8D;
                color: white;
            }
        }
    }
}

.home-section-five {
    background-color: #002168;
    h2 {
        line-height: 40px;
    }

    .read-more {
        border: 1px solid #fff;
        padding: 15px 25px;
        color: white;
        border-radius: 30px;
        transition: 0.5s;
        font-weight: 600;
        &:hover {
            background-color: #fff;
            color: #002168;
        }
    }
}

.home-section-six {
    background-color: #002168;
}

.home-section-seven {
    .team {
        .card {
            border: none;
            background-color: none;
            img {
                object-fit: cover;
                border-radius: 50%;
                width: 100%;
            }
            .card-body {
                h5 {
                    color: #002168;
                    font-weight: 700;
                }
                p {
                    color: #445374;
                }
            }

        }
        .see-all-doctors {
            background-color: #F6F3F6;
            border-radius: 30px;
            padding: 10px 25px;
            color: #894B8D;
            font-weight: 600;
        }
    }
}

.home-section-eight {
    background-color: #F7F4F7;
    width: 100%;
}

.home-section-nine {
    .card {
        background-color: #F7F4F7;
    }
}