.section-wishlist-one {
    width: 100%;
    height: auto;
    background-color: #F6F5F7;
    background-image: url("../img/animation.png") ;
    background-position: cover;
    background-repeat: no-repeat;

    h1 {
        color: #002169;
    }
}